.searchBar{
    width: 40%;
    border-radius: 3em;
    font-size: 1.4em;
}


.suggestions {
    width: 40%;
    border: 1px solid black;
    list-style-type: none;
    padding-left: 0%;
    margin-top: 0%;
}

.suggestions li{
    list-style-type: none;
    padding-left: 1%;
}

.suggestions li:hover {
    background-color: #074554;
    color: white;
}
